@charset 'utf-8';

body{
    margin: 0;
    background-color: black;
}
.title{
    text-align: center;
    background-color: snow;
    font-size: 30px;
    font-weight: bold;
}
.naver_map{
    padding-top: 20px;
    padding-bottom: 30px;
}
.cnd_browse{
    font-size: 32px;
    font-weight: bold;
}

footer {
    height: 50px;
    color: snow;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}