@charset 'utf-8';

body{
  display: block;
  background-image: url(/public/img/anthem-hero-2018.jpg);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.odd{
  background-color:rgba(0, 0, 0, 0.7);
  position: relative;
  display: inline-block;
  width: calc(100% - 250px); 
  height: 80vh;
  left: 250px;
  z-index: 2;
  text-align: center;
}
.odd iframe{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.even{
  background-color: rgba(150, 130, 200, 0.7);
  position: relative;
  display: inline-block;
  width: calc(100% - 250px); 
  left: 250px;
  height: 80vh;
  z-index: 2;
  text-align: center;
}
.even iframe{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.cube_container {
  position: fixed;
  top: 0px;
  left: 0;  
  width: 250px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background: rgba(255,255,255,0.9); 
  border-radius: 5px;
  transition: all ease 0.5s;
  font-family: 'Permanent Marker', sans-serif;
  font-size: 20px;
  scroll-behavior: smooth;
  z-index: 10;
  }
  
  .cube_container:hover {
    box-shadow: 0px 5px 8px 3px rgba(0,0,0,0.5);
    transform: scale(1.1);
    border: 1px solid rgba(0,0,0,0.7); 
  }
  
  .cube_face {
    width: 250px;
    height: 75px;
    margin: 50px 0;
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
  }
  
  #home_cube, #faction_cube, #info_cube {
    background: black;
    padding: 0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: perspective(400px) rotateY(20deg) rotateX(30deg);
    transition: all ease-in-out .2s;
  }
  
  #home_cube:hover, #faction_cube:hover, #info_cube:hover{
  transform: perspective(400px) rotateY(0deg);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5); 
  background: white;   
  color: black;
  cursor: pointer;
  }
  
  #anthem_cube, #javelin_cube, #trailer_cube {
    background: red;
    padding: 0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: perspective(400px) rotateY(-20deg) rotateX(30deg);
    transition: all ease-in-out .2s;
  }
  
  #anthem_cube:hover, #javelin_cube:hover, #trailer_cube:hover{
    transform: perspective(400px) rotateY(0deg);
    background: white;
    color: black;
    cursor: pointer;
  }

  .tr_desc{
    width: 39vw;
    height: 16vh;
    position: relative;
    display: block;
    margin: auto;
    top: 80%;
    color: white;
    font-size: 24px;
    font-weight: 400;
    font-family: East Sea Dokdo;
    z-index: 5;
    word-spacing: 3px;
    background-color: black;
  }
  
  